openapi: 3.0.0
info:
  title: NAO AI API Gateway
  description: This is the API Gateway for the NAO AI project.
  version: 1.0.0
servers:
  - url: https://api.nao-ai-project.com/v1
    description: Production server
  - url: https://staging.api.nao-ai-project.com/v1
    description: Staging server
paths:
  /hello:
    get:
      summary: Returns a greeting message
      operationId: getHello
      responses:
        '200':
          description: A greeting message
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Hello, World!
  /goodbye:
    get:
      summary: Returns a farewell message
      operationId: getGoodbye
      responses:
        '200':
          description: A farewell message
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Goodbye, World!
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string

---
swagger: '2.0'
info:
  title: NAO-AI API
  description: API for NAO-AI services
  version: 1.0.0
paths:
  /:
    get:
      summary: Root endpoint
      operationId: getRoot
      responses:
        200:
          description: A successful response
          schema:
            type: string
            example: Hello World!
